.outline {
    fill: none;
    stroke: black;
}

.site {
    fill: #c7545467;
    stroke: none;
    r: 10px;
}

.polygon {
    fill: none;
    stroke: none;
}

/* .polygons {
    // fill: #ffe0bd;
    // stroke: #caa273;
} */

.node {
    fill: white;
    stroke: black;
    r: 1px;
}

button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: orange;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
}

$buttonsWidth: 168px;

#buttons {
    width: $buttonsWidth;
    float: left;
}

#workspace {
    margin-left: $buttonsWidth;
}

button:enabled:hover {
    background-color: #fff;
    border: 2px solid orange;
    color: orange;
}

button:disabled {
    opacity: 0.4;
}
