$colorA: white;
$colorB: rgb(71, 120, 146);
$transitionDuration: 0.4s;
$fontFamily: Arial, Helvetica, sans-serif;
$stdPadding: 10px;
$stdBorder: 2px;
$buttonsWidth: 168px;
$nodeSize: 1.5px;
$fontFamily: Arial, Helvetica, sans-serif;
$selectedColor: rgb(95, 151, 255);

body {
    margin: 0;
    padding: $stdPadding;
    background-color: $colorB;
    font-family: $fontFamily;
    text-align: center;
}

h1 {
    font-size: 32px;
    color: $colorA;
    border-top: $stdBorder solid $colorA;
    border-bottom: $stdBorder solid $colorA;
    padding: $stdPadding;
}

.app {
    display: grid;
    grid-template-columns: $buttonsWidth 1fr;
    grid-gap: $stdPadding;
}

button {
    -webkit-transition-duration: $transitionDuration; /* Safari */
    transition-duration: $transitionDuration;
    background-color: $colorB;
    border: $stdBorder solid $colorA;
    margin-bottom: 4px;
    padding: $stdPadding;
    width: 100%;
    display: block;
    font-size: 16px;
    color: $colorA;
    text-align: center;

    &:disabled {
        opacity: 0.4;
    }

    &:enabled:hover {
        background-color: $colorA;
        color: $colorB;
    }

    &.active {
        border-style: dashed;
    }
}

svg {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

circle {
    fill: rgb(77, 77, 77);
    stroke: rgb(77, 77, 77);
    r: 5px;
}

.outline {
    fill: none;
    stroke: rgb(175, 175, 175);
    stroke-width: 2;
}

.seed {
    fill: white;
    stroke: black;
    r: 5px;
}

.meshPoly {
    fill: none;
    stroke: none;
}

.meshNode {
    fill: white;
    stroke: black;
    stroke-width: $nodeSize;
    r: $nodeSize;
}

.selected {
    stroke: $selectedColor;
}
